.configuration {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
  }